@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.encabezado {
display: flex;
flex-direction: column;
}

.img-nav{
    display: flex;
    background-size: contain;
    align-self: center;
}

.img-logo {
    width: 8%;
    display: inline-block;
}

.imgSlide {
    display: flex;
    width: auto;
    height: 360px;
}

.navbar {
    /*list-style: none;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;  
    overflow: visible;
    
}


.boton{
    text-decoration: none;
    background-color: rgb(27, 27, 71);
    border: 1px solid white;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    transition: border-radius 2s;
    &:hover{
        color: black;
        background-color: white;
        opacity: 0.5;
        border-radius: 30px;
    }
}


nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-family: font-family: 'Source Serif Pro', serif;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-weight: bold;
    
    }

    
    li {
        display: inline-block;
        position:relative;
        
    }

    ul ul {
        position: absolute;
        display: none;
        overflow: visible;
    }

    ul ul li {
     display: block;
    }

    ul li:hover ul {
            display:block;
           }    
    
          
   

    main{
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70rem;*/
    }

    .contenedor-destacadas{
        /*display: flex;
        width: 50rem;*/

        display: grid;
        grid-template-columns: 40% 40% auto;
        grid-template-rows: auto;
        column-gap: 20px;
        row-gap: 30px;
        grid-template-areas: "destac1 destac2 contact";

    }

    .contenedor-destacadas img{
        width: 100%;
        
    }

    .destacada1 {
        grid-area: destac1;

        /*display: flex;*/
        background-color: lightgray;
        border: solid 2px grey;
        border-radius: 5px;
        padding: 5px;
        margin-left: 30px;
        margin-right: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: auto;
    }

    .destacada2 {
        grid-area: destac2;

        /*display: flex;*/
        background-color: lightgray;
        border: solid 2px grey;
        border-radius: 5px;
        padding: 5px;
        margin-left: 30px;
        margin-right: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: auto;
    }

    .contact {
        grid-area: contact;
        
        /*display: flex;*/
        flex-direction: column;
        padding: 10px 5px 15px 20px;
        margin: 10px 5px 15px 20px;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }

    
.pie-de-pagina {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 2fr; 
    grid-template-areas: 
    "rrss"
    "email"
    ;
    justify-content: center;
    justify-items: center;
    grid-gap: 1rem;
    background: linear-gradient(grey, lightgray);
}

.redes {
    display: flex;
    grid-area: rrss;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
}

h4 {
    grid-area: email;
    justify-items: center;
    padding: 10px;
    
}

.img-instagram {
    width: 10%;
    
}

.img-facebook {
    width: 10%;
    
}

.img-twitter {
    width: 10%;
    
}

.img-youtube {
    width: 9%;
        
}

.consulta{
    height: 100px;
}

.mailContacto :hover{
    transform: scale(1.5, 1.5);
}

@media screen and (max-width: 500px) {
    .encabezado{
        ;
    }

    .contenedor-destacadas{
        flex-direction: column;
    }

    .contenedor-destacadas img{
        width: auto;
    }
}


@media screen and (min-width: 320px) {}
@media screen and (min-width: 480px) {}
@media screen and (min-width: 600px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1074px) {}
@media screen and (min-width: 1200px) {}